
*.vsidx

geo-fiber-decryption/.vs/geo-fiber-decryption/v17/DocumentLayout.json

geo-fiber-decryption/bin/Debug/net8.0/geo-fiber-decryption.deps.json

*.dll

*.exe

*.pdb

geo-fiber-decryption/bin/Debug/net8.0/geo-fiber-decryption.runtimeconfig.json

*.cache

*.txt

geo-fiber-decryption/obj/Debug/net8.0/geo-fiber-decryption.GeneratedMSBuildEditorConfig.editorconfig

*.json

*.props

*.targets
